@font-face {
  font-family: "Italiana";
  src: url("../fonts/Italiana-Regular.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/JosefinSans-VariableFont_wght.ttf");
  font-style: normal;
}
@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-down {
  animation: fadeDown 1s ease-in-out;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-up {
  animation: fadeUp 1s ease-in-out;
}

@keyframes slideUpInf {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.fade-up-inf {
  animation: slideUpInf 2s infinite ease;
}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.fade-right {
  animation: fadeRight 1s ease-in-out;
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.fade-left {
  animation: fadeLeft 1s ease-in-out;
}

@keyframes FadeFarLeft {
  from {
    opacity: 0;
    transform: translateX(275px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.fade-far-left {
  animation: FadeFarLeft 1s ease-in-out;
}

@keyframes Spawn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Spawn {
  animation: Spawn 1.5s ease-in-out;
}

@keyframes flashing {
  0% {
    color: black;
  }
  50% {
    color: #de4269;
    font-weight: bold;
  }
  100% {
    color: black;
  }
}
.flashing {
  animation: flashing 5s infinite ease;
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

@keyframes gradientBorder {
  0% {
    -o-border-image: linear-gradient(0deg, #de4269, purple);
       border-image: linear-gradient(0deg, #de4269, purple);
    border-image-slice: 1;
  }
  10% {
    -o-border-image: linear-gradient(36deg, #de4269, purple);
       border-image: linear-gradient(36deg, #de4269, purple);
    border-image-slice: 1;
  }
  20% {
    -o-border-image: linear-gradient(72deg, #de4269, purple);
       border-image: linear-gradient(72deg, #de4269, purple);
    border-image-slice: 1;
  }
  30% {
    -o-border-image: linear-gradient(108deg, #de4269, purple);
       border-image: linear-gradient(108deg, #de4269, purple);
    border-image-slice: 1;
  }
  40% {
    -o-border-image: linear-gradient(144deg, #de4269, purple);
       border-image: linear-gradient(144deg, #de4269, purple);
    border-image-slice: 1;
  }
  50% {
    -o-border-image: linear-gradient(180deg, #de4269, purple);
       border-image: linear-gradient(180deg, #de4269, purple);
    border-image-slice: 1;
  }
  60% {
    -o-border-image: linear-gradient(216deg, #de4269, purple);
       border-image: linear-gradient(216deg, #de4269, purple);
    border-image-slice: 1;
  }
  70% {
    -o-border-image: linear-gradient(252deg, #de4269, purple);
       border-image: linear-gradient(252deg, #de4269, purple);
    border-image-slice: 1;
  }
  80% {
    -o-border-image: linear-gradient(288deg, #de4269, purple);
       border-image: linear-gradient(288deg, #de4269, purple);
    border-image-slice: 1;
  }
  90% {
    -o-border-image: linear-gradient(324deg, #de4269, purple);
       border-image: linear-gradient(324deg, #de4269, purple);
    border-image-slice: 1;
  }
  100% {
    -o-border-image: linear-gradient(360deg, #de4269, purple);
       border-image: linear-gradient(360deg, #de4269, purple);
    border-image-slice: 1;
  }
}
.gradient-border {
  animation: gradientBorder 1s infinite ease-in-out;
}

html body > main .projects #filterbar > input:focus, html body > main #formulaire > .formulaire input:focus, html body > main #formulaire > .formulaire textarea:focus, html body > main #formulaire > .formulaire #btnForm:focus {
  outline: solid 2px #de4269;
  background-color: lightcyan;
  border-radius: 12px;
}

html body > main .projects #filterbar > input, html body > main .projects .card-pro, html body > main > .mentions .card-mentions, html body > main #formulaire > .formulaire input, html body > main #formulaire > .formulaire textarea, html body > main #formulaire > .formulaire #btnForm {
  border-radius: 12px;
}

html body, html body > main .resume .cv {
  display: flex;
  flex-direction: column;
}

html body > main > .container > #container-home div h1, html body > main > .container > #container-home .gitProfilePicture, html body > main .projects h1, html body > main .projects #filterbar, html body > main .projects .card-pro > header > h4, html body > main .resume h1, html body > main > .mentions > p, html body > main > .mentions .card-mentions > header > h4, html body > main > .mentions h1, html body > main #formulaire, html body > main #formulaire h1, html body > main #formulaire > .formulaire input, html body > main #formulaire > .formulaire textarea, html body footer {
  text-align: center;
}

html body > header > .navigation ul, html body > header > .navigation ul > li, html body > header > .navigation ul > li > a {
  text-decoration: none;
  list-style: none;
}

html body > header > .navigation ul {
  display: flex;
}

html body > main .projects h1, html body > main .resume h1, html body > main > .mentions h1, html body > main #formulaire h1 {
  font-size: 9em;
}

html body > main > .container > #container-home p {
  margin-top: 2em;
}

html body > main > .container > #container-home p, html body > main .resume p {
  text-align: justify;
}

html body > main > .container > #container-home #devImg img, html body > main .projects .card-pro > article > img, html body > main > .mentions .card-mentions > article > img, html body > main > .mentions .card-mentions {
  height: auto;
}

html body > header > .navigation ul, html body > main .projects .card-pro > article > img, html body > main > .mentions .card-mentions > article > img, html body > main #formulaire {
  width: 100%;
}

html body > header > .navigation ul, html body > main > .container, html body > main .projects .card-pro img, html body > main > .mentions .card-mentions img {
  padding: 0;
}

html body > main > .container > #container-home .gitProfilePicture, html body > main > .container > #container-home .gitProfilePicture > img {
  height: 20em;
}

@media screen and (min-width: 430px) and (max-width: 1024px) {
  html > body main #formulaire h1, html > body main .mentions h1 {
    font-size: 5em;
  }
}
@media screen and (max-width: 430px) {
  html > body main #container-resume h1, html > body main #container-projects h1 {
    font-size: 5em;
  }
  html > body main #formulaire h1, html > body main .mentions h1 {
    font-size: 3em;
  }
}
html {
  background-image: url(../assets/imgs/fond.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: none;
}
html body {
  font-family: "Josefin", "sans-serif";
  background-color: rgba(255, 255, 255, 0.85);
  margin: 0em 15em 0em 15em;
  min-height: 100vh;
}
html body.black {
  background-color: rgba(71, 71, 71, 0.85);
  color: white;
}
html body.black .navigation a {
  color: white;
}
html body.black .navigation a:hover {
  color: rgb(166, 139, 241);
  background-color: rgba(255, 13, 215, 0.4);
}
html body.black .card-pro {
  background-color: rgb(39, 39, 39) !important;
}
html body.black .card-mentions {
  background-color: rgb(39, 39, 39) !important;
}
html body.black .gitProfilePicture > img {
  border: solid 2px #de4269 !important;
}
html body > header > .navigation {
  margin-top: 0.5em;
}
html body > header > .navigation ul {
  flex-direction: row;
  margin: 0;
}
html body > header > .navigation ul > li {
  margin-top: 0.5em;
  padding: 0.5em 0.5em 0.5em 0.5em;
}
html body > header > .navigation ul > li > a {
  color: rgb(36, 36, 36);
  padding: 0.6em;
}
html body > header > .navigation ul > li > a:hover {
  transition: all ease 0.5s;
  background-color: rgba(166, 139, 241, 0.4);
  border-radius: 10px 5px 5px;
  color: rgb(255, 13, 215);
  cursor: pointer;
}
html body > header .form-box {
  margin-top: 0.5em;
}
html body > header .form-box .fa-sun {
  color: white;
}
html body > header .form-box .button-box {
  width: 80px;
  position: relative;
  border-radius: 30px;
  background-color: #fff;
  border: solid 2px black;
}
html body > header .form-box .button-box #btn {
  left: 0;
  top: 0;
  position: absolute;
  width: 40px;
  height: 100%;
  background: #ad741d;
  border-radius: 30px;
  transition: 0.5s;
}
html body > header .form-box .button-box .toggle-btn {
  padding: 5px 10px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: none;
  position: relative;
  text-align: center;
}
html body > main {
  padding-top: 1em;
  display: flex;
  justify-content: center;
}
html body > main > .container {
  margin: 0;
}
html body > main > .container > #container-home div h1 {
  font-size: 12.3em;
  font-family: "Italiana", "sans-serif";
}
html body > main > .container > #container-home #devImg img {
  width: 35%;
}
html body > main > .container > #container-home p {
  margin: 0.5em;
  margin-bottom: 2em;
  font-size: 22px;
}
html body > main > .container > #container-home .gitProfilePicture {
  width: 100%;
  border-radius: 50%;
}
html body > main > .container > #container-home .gitProfilePicture > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 20em;
  border-radius: 50%;
  border: solid 2px #0bdfe0;
}
html body > main .projects #filterbar {
  margin-bottom: 1em;
}
html body > main .projects #filterbar > input {
  border: solid 2px #6c125c;
  padding: 5px;
  width: 20em;
}
html body > main .projects .card-pro {
  background-color: white;
  box-shadow: 10px 10px 5px rgb(173, 173, 173);
  padding-top: 0.5em;
  margin: 0.5em;
  width: 100%;
  height: 32em;
}
html body > main .projects .card-pro footer {
  padding: 0.5em;
}
html body > main .projects .card-pro > header > h4 {
  font-size: 30px;
}
html body > main .resume p {
  line-height: 1.5em;
  font-size: 1.4em;
}
html body > main > .mentions .card-mentions {
  background-color: white;
  box-shadow: 10px 10px 5px rgb(173, 173, 173);
  padding-top: 0.5em;
  margin: 0.5em;
  width: 100%;
  padding: 1em;
}
html body > main > .mentions .card-mentions footer {
  padding: 0.5em;
}
html body > main > .mentions .card-mentions > header > h4 {
  font-size: 30px;
}
html body > main #formulaire > .formulaire input {
  width: 50%;
  padding: 0.3em;
  border: solid 2px #6c125c;
}
html body > main #formulaire > .formulaire textarea {
  width: 50%;
  padding: 0.3em;
  border: solid 2px #6c125c;
}
html body > main #formulaire > .formulaire #btnForm {
  padding: 0.4em;
  margin: 0.5em 0em 1em 0em;
  border: solid 2px #6c125c;
}
html body > main #formulaire #modal {
  display: none;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  background-color: rgb(236, 236, 236);
  border: solid 3px black;
  -o-border-image: linear-gradient(0deg, pink, purple);
     border-image: linear-gradient(0deg, pink, purple);
  border-image-slice: 1;
  width: 20em;
  text-align: center;
}
html body > main #formulaire #modal .modal-contents {
  padding: 1em;
}
html body > main #formulaire #modal .modal-contents .modalBtn {
  border: solid 2px black;
  border-radius: 8px;
  margin: 0.5em;
  padding: 0.3em;
  width: 5em;
  margin-bottom: 0.7em;
}
html body > main #formulaire #modal.active {
  display: block;
}
html body > main #formulaire #infoContact {
  margin-top: 5em;
}
html body footer {
  margin-top: auto;
  padding-top: 1em;
}

@media screen and (min-width: 430px) and (max-width: 1024px) {
  html > body {
    margin: 0;
  }
  html > body main #container-home h1 {
    font-size: 8em !important;
  }
  html > body main #container-resume .row {
    flex-direction: column;
  }
  html > body main #container-resume h1 {
    font-size: 7em;
  }
  html > body main #container-projects .projects {
    width: 100%;
  }
}
@media screen and (max-width: 430px) {
  html > body {
    margin: 0;
  }
  html > body > header .navigation ul {
    flex-direction: column;
    text-align: center;
  }
  html > body main #container-home h1 {
    font-size: 5em !important;
  }
  html > body main #container-resume {
    padding: 0em 0.5em 0em 0.5em;
  }
}/*# sourceMappingURL=style.css.map */