@use "sass:map";
@use '_colors.scss'  as c;

@mixin navigation_bar{
    ul{
        @extend %noDeco;
        @extend %flex;
        flex-direction: row;
        margin: 0;
        @extend %pad0;
        @extend %width100;
        >li{
            @extend %noDeco;
            margin-top: 0.5em;
            padding: 0.5em 0.2em 0.5em 0.2em;
            >a{
                @extend %noDeco;
                color:rgb(36, 36, 36);
                padding:0.6em;
                &:hover{
                    transition: all ease 0.5s;
                    background-color: rgba(166, 139, 241, 0.4);
                    border-radius: 10px 5px 5px;
                    color:rgb(255, 13, 215);
                    cursor: pointer;
                }
            }
        }
    }
}

@mixin carteHome{
    button{
        border: none;
        background-color: transparent;
        div{
            @extend %flex;
            justify-content: center;
            h2{
                position: absolute;
                top: 22.5em;
                background-color: rgb(128, 128, 128,0.8);
                background-image: linear-gradient(45deg,map-get(c.$colors,rose),map-get(c.$colors,bleuClair));
                padding: 0.5em 1em 0.5em 1em;
                @extend %radius25;
            }
        }
    }
    img{
        object-fit: cover;
        width: 20em;
        height: 20em;
        border:solid 7px rgb(128, 128, 128, 0.3);
        @extend %radius25;
    }
}

@mixin cardPro(){
    background-color: white;
    @extend %radius12;
    box-shadow: 10px 10px 5px rgb(173, 173, 173);
    padding-top: 0.5em;
    margin: 0.5em;
    width: 100%;
    img{
        @extend %pad0;
    }
    
    footer{
        padding: 0.5em;
    }
    >header{
        >h4{
            @extend %textCenter;
            font-size: 30px;
        }
    }
    >article{
        >img{
            @extend %width100;
            @extend %autoHeight;
        }
    }
}

@mixin inputArea{
    @extend %textCenter;
    width: 50%;
    padding: 0.3em;
    @extend %radius12;
    border:solid 2px map-get(c.$colors,_violet);
    @extend %focusArea;
}