@use "sass:map";
@use '_colors.scss'  as c;

@mixin navigation_bar{
    ul{
        list-style: none;
        display:flex;
        flex-direction:row;
        margin:0;
        padding:0;
        width: 100%;
        >li{
            text-decoration: none;
            margin-top:0.5em;
            padding: 0.5em 1em 0.5em 1em;
            >a{
                text-decoration: none;
                color:rgb(36, 36, 36);
                &:hover{
                    color:rgb(255, 13, 215);
                }
            }
            &:hover{
                transition: all ease 0.5s;
                background-color: rgba(166, 139, 241, 0.3);
                border-radius:10px 5px 5px;
                color:rgb(255, 13, 215);
                cursor: pointer;
            }
        }
    }
}

@mixin carteHome{
    button{
        border:none;
        background-color: transparent;
        div{
            display:flex;
            justify-content: center;
            h2{
                position: absolute;
                top:22.5em;
                background-color: rgb(128, 128, 128,0.8);
                background-image: linear-gradient(45deg,map-get(c.$colors,rose),map-get(c.$colors,bleuClair));
                padding:0.5em 1em 0.5em 1em;
                border-radius:25px;
            }
        }
    }
    img{
        object-fit: cover;
        width: 20em;
        height: 20em;
        border:solid 7px rgb(128, 128, 128, 0.3);
        border-radius:25px;
    }
}

@mixin cardPro{
    background-color: white;
    border-radius:12px;
    box-shadow: 10px 10px 5px rgb(173, 173, 173);
    padding-top:0.5em;
    margin:0.5em;
    width: 25em;
    height: 32em;
    img{
        padding:0;
    }
    footer{
        padding:0.5em;
    }
    >header{
        >h4{
            text-align: center;
            font-size: 30px;
        }
    }
    >article{
        >img{
            width: 100%;
            height: auto;
        }
    }
}
