// Import SCSS
@use "sass:map";
@use '_extends.scss';
@use '_mixins.scss'   as m;
@use '_colors.scss'  as c;
@use '_typo.scss'    as t;



body{
    background-color: map-get(c.$colors,blanc);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    >main{
        // CSS Accueil
        >.accueil{
            >aside{
                background-color: map-get(c.$colors,bleu);
                width: 25%;
                height: auto;
            }
        }
    }
    >footer{
        background-image:linear-gradient(15deg, blue,map-get(c.$colors,oranger)) ;
        margin-top: auto;
    }
}