// Import SCSS
@use "sass:map";
@use '_extends.scss';
@use '_mixins.scss'   as m;
@use '_colors.scss'  as c;
@use '_typo.scss'    as t;


html{
    background-image: url(/assets/imgs/fond.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: none;
    body{
        font-family: t.$texte;
        background-color: rgb(255, 255, 255,0.85);
        margin:0em 15em 0em 15em;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        >header{
            >.navigation{
                margin-top:0.5em;
                @include m.navigation_bar;
            }
        }
        >main{
            padding-top:1em;
            >.container{
                padding:0;
                // Affichage principal
                >#home{
                    display:block;
                }
                >.projects, >#resume{
                    display:none;
                }
                // Mise en page Accueil
                >.home{
                    >div{
                        >h1{
                            font-size: 12.3em;
                            font-family: t.$titre;
                        }
                    }
                    >#devImg{
                        >img{
                            width: 35%;
                            height: auto;
                        }
                    }
                    // texte
                    >p{
                        margin:0.5em;
                        margin-top:2em;
                        margin-bottom:2em;
                        font-size: 22px;
                        text-align: justify;
                    }
                    // Carte d'accueil
                    >.cardsHome{
                        text-align: center;
                        .card-home{
                            @include m.carteHome;
                        }
                    }
                }
            }
            // Mise ne page projet
            .projects{
                h1{
                    text-align: center;
                    font-size: 9em;
                }
                #filterbar{
                    text-align: center;
                    margin-bottom:1em;
                    >input{
                        border-radius: 12px;
                        padding:5px;
                        width: 20em;
                    }
                }
                .card-pro{
                    @include m.cardPro;
                }
            }
            // Mise en page CV
            .resume{
                h1{
                    text-align: center;
                    font-size: 9em;
                }
                margin-top:2em;
                .cv{
                    display:flex;
                    flex-direction: column;
                }
                p{
                    line-height: 1.5em;
                    text-align: justify;
                    font-size: 1.4em;
                }
            }
            // Mise en page Mentions Légales
            >.mentions{
                >p{
                    text-align: center;
                }
                .card-mentions{
                    @include m.cardPro;
                    height: auto;
                    padding:1em;
                } 
                h1{
                    text-align: center;
                    font-size: 9em;
                }     
            }
        }
        footer{
            margin-top:auto;
        }
    }
}

