// Import SCSS
@use "sass:map";
@use '_extends.scss';
@use '_mixins.scss'   as m;
@use '_colors.scss'  as c;
@use '_typo.scss'    as t;


html{
    background-image: url(/assets/imgs/fond.jpg);
    body{
        background-color: rgb(255, 255, 255,0.9);
        margin:0em 15em 0em 15em;
        display: flex;
        flex-direction: column;
        min-height: 99vh;
        >main{
            >.container{
                // Affichage principal
                >#home{
                    display:block;
                }
                >.resume, >.projects{
                    display:none;
                }
            }
        }
    }
}